
.container{
    background-color: white;
    position: relative;
    width: 1890px;
    height: 1000px;
}
h1{
    font-size: 20px;
    font-family: 'Lucida Handwriting', serif;
    margin-top: 20px;
    margin-right: 180px;
    margin-bottom: 50px;
    position: relative;
    left: 20px;
}
.nav{
    width: 20%;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 300px;
    height: 182%;
    border-right: 1px solid lightgrey;
    margin: 10px;

}
.nav img{
    height: 2rem;
    width: 2rem;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    position: relative;
    left: 20px;
}
.nav a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 20px;
    left: 40px;
    padding-left: 5%;
}
.circular {
	border-radius: 50%;
}
.more {
    position: absolute;
    top: 310px;
}
.more1{
    position: relative;
    top: 289px;
}
.header{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: end;
    width: 31%;
    border-bottom: 1px solid lightgrey;
    margin: 0 20px;
    padding: 0 10px;
    right: 10px;
    left: 600px;
    bottom: 900px;
    
}
.header a{
    text-decoration: none;
    margin: 10px;
    white-space: nowrap;  
}
.foryou{
    color: black;
}
.following{
    color: gray;
}
.header img{
    position: relative;
    top: 80px;
    right: 160px;
}
.profiles{
    border-radius: 50%;
    background: #EEED6D;
    background: -moz-linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    background: -webkit-linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    background: linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    margin: 10px;
    padding: 2px;
}
.header p{
    display: flex;
    position: relative;
    right: 750px;
    top: 110px;
    margin: 19px;
}
.main{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 280px;
    right: 45px;    
    width: 1000px;
    height: 500px;
    left: 450px;
}
.cristiano2{
    position: absolute;
    bottom: 500px;
    left: 300px;
    display: flex;
    height: 35px;
    border-radius: 50%;
    background: #EEED6D;
    background: -moz-linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    background: -webkit-linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    background: linear-gradient(45deg, #EEED6D 0%, #FF0000 39%, #D315F3 100%);
    padding: 2px;
}
.cris{
    position: absolute;
    bottom: 509px;
    left: 350px;
    color: black;
}
.hours{
    position: absolute;
    bottom: 492px;
    left: 430px;
    color: grey;

}
.cristianobicycle{
    position: absolute;
    top: 20px;
    height: 450px;
    width: 400px;
    border-radius: 1%;
}
.main a{
    margin: 0 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
}
.dropdown{
    position: absolute;
    bottom: 727px;
    left: 1120px;
    font-size: 25px;
}
.dropdown ul{
    width: 200px;
    text-align: center;
    position: absolute;
    background: white;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px gray;
    display: none;
    border-radius: 7px;
    font-size: 16px;
}
.dropdown ul li{
    padding: 0.5rem;
    border: .5px solid lightgray;
}
.dropdown ul li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.dropdown ul li:hover{
    background: lightgray;
}
.dropdown a:focus + ul{
    display: block;
}
.text{
    text-decoration: none;
    color: black;
}
.report{
    color: red;
    text-decoration: none;
}
.list{
    color: black;
    text-decoration: none;
}
.ico{
    position: relative;
    top: 240px;
    right: 140px;
    margin: 10px;
    height: 24px;
    width: 26px;
}
.likes{
    position: absolute;
    top: 500px;
    left: 305px;
    font-size: 15px;
    font-weight: bold;
}
.h6{
    position: absolute;
    top: 505px;
    left: 305px;
    font-size: 14px;
}
.p2{
    position: absolute;
    top: 550px;
    left: 305px;
    font-size: 14px; 
    color: gray;
}
.p3{
    position: absolute;
    top: 575px;
    left: 305px;
    font-size: 14px; 
}
.p5{
    position: absolute;
    top: 600px;
    left: 304px;
    font-size: 14px; 
    color: gray;
}
.aside{
    display: flex;
    align-items: flex-start;
    height: 1000px;
    width: 500px;
    position: absolute;
    left: 1320px;
    top: 60px;
}
.profile{
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
}
.name{
    color: gray;
    position: absolute;
    top: 25px;
}
.switch{
    position: absolute;
    right: 200px;
    top: 32px;
    color: rgb(0, 149, 246);
    text-decoration: none;
}
.sugg{
    color: grey;
    font-size: 16px;
    position: absolute;
    top: 80px;
    left: 20px;
}
.all{
    position: absolute;
    top: 98px;
    right: 200px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.messiimg{
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
    top: 125px;
    left: 20px;

}
.messi{
    position: absolute;
    top: 140px;
    left: 80px;
    text-decoration: none;
    color: black;
    
}
.followed1{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 147px;
    left: 80px;
}
.follow1{
    position: absolute;
    top: 150px;
    right: 200px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}
.neymarimg{
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
    top: 190px;
    left: 20px;

}
.neymar{
    position: absolute;
    top: 205px;
    left: 80px;
    text-decoration: none;
    color: black;
    
}
.followed2{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 212px;
    left: 80px;
}
.follow2{
    position: absolute;
    top: 215px;
    right: 200px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}
.lewyimg{
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
    top: 255px;
    left: 20px;

}
.lewy{
    position: absolute;
    top: 270px;
    left: 80px;
    text-decoration: none;
    color: black;
    
}
.followed3{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 277px;
    left: 80px;
}
.follow3{
    position: absolute;
    top: 280px;
    right: 200px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}
.zlatanimg{
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
    top: 320px;
    left: 20px;

}
.zlatan{
    position: absolute;
    top: 335px;
    left: 80px;
    text-decoration: none;
    color: black;
    
}
.followed4{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 342px;
    left: 80px;
}
.follow4{
    position: absolute;
    top: 345px;
    right: 200px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}
.peszkoimg{
    border-radius: 50%;
    margin: 10px; 
    position: absolute;
    top: 385px;
    left: 20px;

}
.peszko{
    position: absolute;
    top: 400px;
    left: 80px;
    text-decoration: none;
    color: black;
    
}
.followed5{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 407px;
    left: 80px;
}
.follow5{
    position: absolute;
    top: 410px;
    right: 200px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}
.about{
    position: absolute;
    top: 450px;
    left: 30px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.about:hover{
    text-decoration: underline;
}
.dot1{
    position: absolute;
    top: 442px;
    left: 62px;
    color: lightgray;
    font-size: 10px;
}
.help{
    position: absolute;
    top: 450px;
    left: 67px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.help:hover{
    text-decoration: underline;
}
.dot2{
    position: absolute;
    top: 442px;
    left: 92px;
    color: lightgray;
    font-size: 10px;
}
.press{
    position: absolute;
    top: 450px;
    left: 97px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.press:hover{
    text-decoration: underline;
}
.dot3{
    position: absolute;
    top: 442px;
    left: 125px;
    color: lightgray;
    font-size: 10px;
}
.api{
    position: absolute;
    top: 450px;
    left: 130px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.api:hover{
    text-decoration: underline;
}
.dot4{
    position: absolute;
    top: 442px;
    left: 152px;
    color: lightgray;
    font-size: 10px;
}
.jobs{
    position: absolute;
    top: 450px;
    left: 157px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.jobs:hover{
    text-decoration: underline;
}
.dot5{
    position: absolute;
    top: 442px;
    left: 180px;
    color: lightgray;
    font-size: 10px;
}
.privacy{
    position: absolute;
    top: 450px;
    left: 185px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.privacy:hover{
    text-decoration: underline;
}
.dot6{
    position: absolute;
    top: 442px;
    left: 223px;
    color: lightgray;
    font-size: 10px;
}
.terms{
    position: absolute;
    top: 450px;
    left: 228px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.terms:hover{
    text-decoration: underline;
}
.dot7{
    position: absolute;
    top: 442px;
    left: 260px;
    color: lightgray;
    font-size: 10px;
}
.locations{
    position: absolute;
    top: 470px;
    left: 30px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.locations:hover{
    text-decoration: underline;
}
.dot8{
    position: absolute;
    top: 462px;
    left: 80px;
    color: lightgray;
    font-size: 10px;
}
.language{
    position: absolute;
    top: 470px;
    left: 85px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.language:hover{
    text-decoration: underline;
}
.dot9{
    position: absolute;
    top: 462px;
    left: 135px;
    color: lightgray;
    font-size: 10px;
}
.metaver{
    position: absolute;
    top: 470px;
    left: 140px;
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
}
.metaver:hover{
    text-decoration: underline;
}
.foot{
    position: absolute;
    top: 500px;
    left: 31px;
    text-decoration: none;
    color: lightgray;
    font-size: 11px;
}